body {
  color: white;
  font-size: 1.2em;
  background-image: url(../assets/bg_part2.png);
  background-size: cover;
  background-repeat: none;
}

div {
  height: 60vh;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.575);
}

input {
  color: white;
}

button {
  border-radius: 3px;
}
